VB/DrillDownChart/Web.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="devExpress">
    <xs:complexType>
      <xs:all>
        <xs:element name="themes">
          <xs:complexType>
            <xs:attribute name="enableThemesAssembly" type="xs:boolean" />
            <xs:attribute name="styleSheetTheme" type="xs:string" />
            <xs:attribute name="theme" type="xs:string"  />
            <xs:attribute name="customThemeAssemblies" type="xs:string" />
          </xs:complexType>
        </xs:element>
        <xs:element name="compression">
          <xs:complexType>
            <xs:attribute name="enableHtmlCompression" type="xs:boolean" />
            <xs:attribute name="enableCallbackCompression" type="xs:boolean" />
            <xs:attribute name="enableResourceCompression" type="xs:boolean" />
            <xs:attribute name="enableResourceMerging" type="xs:boolean" />
          </xs:complexType>
        </xs:element>
        <xs:element name="settings">
          <xs:complexType>
            <xs:attribute name="rightToLeft" type="xs:boolean" />
            <xs:attribute name="embedRequiredClientLibraries" type="xs:boolean" />
            <xs:attribute name="doctypeMode" type="xs:string" />
            <xs:attribute name="ieCompatibilityVersion" type="xs:string" />
          </xs:complexType>
        </xs:element>
        <xs:element name="errors">
          <xs:complexType>
            <xs:attribute name="callbackErrorRedirectUrl" type="xs:string" />
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>